body {
    width: 100%;
    font-size: 0.28rem;
    height: auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: PingFang-SC-Medium;
    color: #262626;
    padding-top: 1rem;
}

#showNews>p {
    width: 100%;
    height: 0.6rem;
    background: rgba(247, 247, 247, 0.92);
    font-size: 0.24rem;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    color: rgba(144, 158, 172, 1);
    padding-left: 0.31rem;
    box-sizing: border-box;
    font-weight: 500;
}

#newsList {
    width: 100%;
    height: auto;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#newsList li {
    width: 6.84rem;
    border-left: 1px solid rgba(210, 210, 210, 0.34);
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.15rem;
    box-sizing: border-box;
}

#newsList li>p {
    width: 100%;
    height: 0.6rem;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    font-size: 0.24rem;
    font-weight: bold;
    color: rgba(144, 158, 172, 1);
    position: relative;
}

#newsList li>p>span {
    position: absolute;
    left: -0.22rem;
    top: 0.22rem;
    width: 0.1rem;
    height: 0.1rem;
    border-radius: 100%;
    border: 1px solid #909EAC;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
}

#newsList li>p>span>i {
    width: 0.06rem;
    height: 0.06rem;
    border-radius: 100%;
    background-color: #909eac;
}

#newsList li>b {
    width: 100%;
    padding: 0 0 0.15rem 0;
    font-size: .28rem;
    font-family: PingFang-SC-Bold;
    letter-spacing: 0.02rem;
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    font-weight: bold;
    color: rgba(38, 38, 38, 1);
}

#newsList li>div {
    width: 6.7rem;
    font-size: 0.28rem;
    font-weight: 300;
    color: rgba(89, 89, 89, 1);
    background: rgba(247, 247, 247, 0.83);
    letter-spacing: 0.02rem;
    padding: 0 0.34rem;
    border-top: 0.25rem solid rgba(247, 247, 247, 0.83);
    border-bottom: 0.25rem solid rgba(247, 247, 247, 0.83);
    box-sizing: border-box;
    text-align: justify;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}

#newsList li>span {
    width: 100%;
    height: 0.72rem;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: flex-start;
}

#newsList li>span>img {
    width: 0.36rem;
    height: 0.28rem;
}

/* 深度 */
#deepnews {
    width: 100%;
    padding: 0 0.3rem;
    box-sizing: border-box;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
}

#deepnews>p {
    width: 100%;
    height: 0.64rem;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 32px;
}

#deepnews>p img {
    width: 0.36rem;
    height: 0.36rem;
    border-radius: 100%;
    margin-right: 0.14rem;
}

#deepnews>p>b {
    font-size: 0.32rem;
    font-family: PingFang-SC-Bold;
    font-weight: bold;
}

#deepnews .hotNews {
    width: 100%;
    height: auto;
    padding-bottom: 0.16rem;
    border-bottom: 1px solid #ececec;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

#deepnews .hotNews>div {
    width: 2.2rem;
    height: 100%;
    /* display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: flex-start; */
}

#deepnews .hotNews>div>p {
    width: 100%;
    height: 1.44rem;
    margin-bottom: 0.2rem;
    display: block;
    overflow: hidden;
    text-align: center;
}

/* #deepnews .hotNews>div>p>img{max-height: 100%;max-width: 100%;vertical-align: middle} */
#deepnews .hotNews div:not(:last-of-type) {
    margin-right: 0.1rem;
}

#deepnews .hotNews p>img {
    width: 2.2rem;
    height: 1.44rem;
    margin-bottom: 0.2rem;
}

#deepnews .hotNews>div>span {
    width: 2.2rem;
    height: auto;
    font-size: .28rem;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    color: #595959;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
}

#deepnews>ul>li {
    width: 100%;
    height: auto;
    padding: 0.4rem 0 0.3rem 0;
    border-bottom: 1px solid #ececec;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.2rem;
    height: 1.6rem;
    position: relative;
}

#deepnews>ul>li>div {
    flex: 1;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1.3rem;
    box-sizing: border-box;
}

#deepnews>ul>li>span {
    width: 1.72rem;
    height: auto;
    margin-left: 0.4rem;
    display: block;
    text-align: center;
}

#deepnews>ul>li>span>img {
    width: 1.7rem;
    height: 1.3rem;
}

#deepnews>ul>li>div>b {
    flex: 1;
    font-size: 0.3rem;
    font-family: PingFang-SC-Bold;
    font-weight: bold;
    margin-bottom: 0.1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

#deepnews>ul>li>div>p {
    width: 100%;
    height: 0.25rem;
    border-radius: 2px;
    font-size: 0.18rem;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 0.1rem;
}

.tobottom {
    font-size: 0.26rem;
    text-align: center;
    line-height: 1rem;
    color: #656565
}

#deepnews>ul>li>div>p>.isTop {
    background: #ffd203;
    padding: 0 0.1rem;
    border-radius: 0.04rem;
    font-size: 0.18rem;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
}

#deepnews>ul>li>div>p>span:last-of-type {
    height: 0.25rem;
    border-radius: 2px;
    font-size: 0.18rem;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.12rem;
    color: #898989;
}

/* 动态 */
#dynamicNews {
    width: 100%;
    padding: 0 0.3rem;
    box-sizing: border-box;
}

#dynamicNews>ul>.dynamicNewsOne {
    width: 100%;
    height: auto;
    padding: 0.4rem 0 0.3rem 0;
    border-bottom: 1px solid #ececec;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-between;
}

#dynamicNews>ul>.dynamicNewsOne>div {
    flex: 1;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
}

#dynamicNews>ul>.dynamicNewsOne>img {
    width: 1.72rem;
    margin-left: 0.4rem;
}

#dynamicNews>ul>.dynamicNewsOne>div>b {
    flex: 1;
    font-size: 0.3rem;
    font-family: PingFang-SC-Bold;
    font-weight: bold;
    margin-bottom: 0.34rem;
}

#dynamicNews>ul>.dynamicNewsOne>div>p {
    width: 100%;
    height: 0.25rem;
    border-radius: 2px;
    font-size: 0.18rem;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: flex-start;
}

#dynamicNews>ul>.dynamicNewsOne>div>p>span:first-of-type {
    width: 0.5rem;
    height: 0.25rem;
    background: #ffd203;
    border-radius: 0.04rem;
    font-size: 0.18rem;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
}

#dynamicNews>ul>.dynamicNewsOne>div>p>span:last-of-type {
    height: 0.25rem;
    border-radius: 2px;
    font-size: 0.18rem;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.12rem;
    color: #898989;
}

#dynamicNews>ul>.dynamicNewsTwo {
    width: 100%;
    height: 1.6rem;
    padding: 0.4rem 0 0.3rem 0;
    border-bottom: 1px solid #ececec;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#dynamicNews>ul>.dynamicNewsTwo>b {
    width: 100%;
    font-size: 0.3rem;
    font-family: PingFang-SC-Bold;
    font-weight: bold;
    margin-bottom: 0.4rem;
}

#dynamicNews>ul>.dynamicNewsTwo>p {
    width: 100%;
    height: 0.25rem;
    border-radius: 0.04rem;
    font-size: 0.18rem;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: flex-start;
}

#dynamicNews>ul>.dynamicNewsTwo>p>span:first-of-type {
    width: 0.5rem;
    height: 0.25rem;
    background: #ffd203;
    border-radius: 0.04rem;
    font-size: 0.18rem;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
}

#dynamicNews>ul>.dynamicNewsTwo>p>span:last-of-type {
    height: 0.25rem;
    border-radius: 2px;
    font-size: 0.18rem;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.12rem;
    color: #898989;
}

#dynamicNews>ul>.dynamicNewsThree {
    width: 100%;
    padding: 0.4rem 0 0.3rem 0;
    border-bottom: 1px solid #ececec;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#dynamicNews>ul>.dynamicNewsThree>b {
    width: 100%;
    font-size: 0.3rem;
    font-family: PingFang-SC-Bold;
    font-weight: bold;
    margin-bottom: 0.2rem;
}

#dynamicNews>ul>.dynamicNewsThree>p {
    width: 100%;
    height: 0.25rem;
    border-radius: 0.04rem;
    font-size: 0.18rem;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: flex-start;
}

#dynamicNews>ul>.dynamicNewsThree>p>span:first-of-type {
    width: 0.5rem;
    height: 0.25rem;
    background: #ffd203;
    border-radius: 0.04rem;
    font-size: 0.18rem;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
}

#dynamicNews>ul>.dynamicNewsThree>p>span:last-of-type {
    height: 0.25rem;
    border-radius: 2px;
    font-size: 0.18rem;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.12rem;
    color: #898989;
}

#dynamicNews>ul>.dynamicNewsThree>div {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    margin-bottom: 0.2rem;
}

#dynamicNews>ul>.dynamicNewsThree>div>img {
    width: 2.2rem;
}